{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Hadoop MapReduce Storage">
    <meta name="author" content="Artem Ustimov">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>{% block title %}{% endblock %} - Hadoop Data Warehouse</title>

    <link href="{% static 'storage/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Hadoop Data Warehouse</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'list' %}">Список хранилищ</a></li>
                        <li><a href="{% url 'create' %}">Создать хранилище</a></li>
                        <li><a href="{% url 'benchmark' %}">Тестирование</a></li>
                        <li><a href="{% url 'logout' %}">Выход</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" style="padding-top: 100px;">

        {% block content %}

        {% endblock %}

    </div><!-- /.container -->

    <script src="{% static 'storage/js/lib/jquery.js' %}"></script>
    <script src="{% static 'storage/js/lib/bootstrap.min.js' %}"></script>
</body>
</html>
