{% extends 'storage/base.html' %}

{% block title %}Тестирование{% endblock %}

{% block content %}

    <h1>Тестирование</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default" href="{% url 'hadoop_bench' %}">Hadoop</a>
            <a class="btn btn-default" href="{% url 'mysql_bench' %}">MySQL</a>

        </div>
    </div>

{% endblock %}
