{% extends 'storage/base.html' %}

{% block title %}Бенчмарк{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <div class="panel panel-default">
        <div class="panel-body">
           <h1>Время: {{ elapsed }}</h1>
        </div>
    </div>

{% endblock %}
