{% extends 'storage/base.html' %}

{% block title %}Создание хранилища{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">Хранилище</div>
        <div class="panel-body">
            <form method="post" action="{% url 'save' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="storage-name">Название</label>
                    <input type="text" class="form-control" name="storage" id="storage-name" placeholder="Название хранилища" required>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Атрибуты</div>
                    <div class="panel-body">
                        <div class="js-fact">
                            <!-- fact-template -->
                        </div>
                        <div class="btn btn-default" onclick="addFact()">Добавить</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Создать</button>
            </form>
        </div>
    </div>

    <div id="fact-template" hidden>
        <div class="form-group" id="fact">
            <div class="row">
                <label class="col-xs-1">FK</label>
                <label class="col-xs-11">Имя атрибута</label>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    <input type="checkbox" id="fact-checkbox" name="fact">
                </div>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="attr" placeholder="Имя атрибута" required>
                </div>
                <div class="col-xs-2">
                    <div class="btn btn-default" onclick="removeFact('#fact')">Удалить</div>
                </div>
            </div>

            <!--
            <div style="padding-top: 20px;">
                <div class="panel panel-default" id="fact-dim" style="display: none;">
                    <div class="panel-heading">Измерения</div>
                    <div class="panel-body">
                        <div class="js-dim-fact"> -->
                            <!-- dim-template -->
            <!--
                        </div>
                        <div class="btn btn-default" onclick="addDim('.js-dim-fact', 'fact')">Добавить</div>
                    </div>
                </div>
            </div>
            -->

        </div>
    </div>

    <!--
    <div id="dim-template" hidden>
        <div class="form-group" id="dim">
            <div class="row">
                <div class="col-xs-12">
                    <label>Значение измерения</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <input type="text" class="form-control" name="dim" placeholder="Значение измерения" required>
                </div>
                <div class="col-xs-2">
                    <div class="btn btn-default" onclick="removeDim('#dim')">Удалить</div>
                </div>
            </div>
        </div>
    </div>
    -->

    <script>

        String.prototype.replaceAll = function(search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        };

        var i = 1;
        function addFact() {
            $('.js-fact').append($('#fact-template').html().replaceAll("fact", "fact" + i));
            i++;
        }

        function removeFact(id) {
            $(id).remove();
        }

        addFact();

        /*
        function checkboxChanged(id) {
            $(id + '-checkbox').click(function () {
                $(id + '-dim').toggle(this.checked);
            });
        }

        var j = 1;
        function addDim(klass, fact) {
            $(klass).append($('#dim-template').html().replaceAll("dim", fact + "-d"));
            j++;
        }

        function removeDim(id) {
            $(id).remove();
        }
        */
    </script>

{% endblock %}