{% extends 'storage/base.html' %}

{% block title %}Подробная информация о хранилище{% endblock %}

{% block content %}

    <h1>Хранилище {{ storage.name }}</h1>

    <div class="js-progress panel panel-default" style="display: none;">
        <div class="js-head panel-heading"></div>
        <div class="panel-body">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>
    </div>

    <div class="js-structure panel panel-default">
        <div class="panel-heading">Структура</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    {% for fact, dims in fks.items %}
                    <th>{{ fact.name }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for fact, dims in fks.items %}
                    <td>
                        {% if fact.is_fk %}
                        <a href="{% url 'upload_values' fact.id %}">Загрузить значения</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            </table>
            <!--
            <ul>
                {% for fact, dims in fks.items %}
                <li>{{ fact.name }}</li>
                {% if dims %}
                <ol>
                    {% for dim in dims %}
                    <li>{{ dim.value }}</li>
                    {% endfor %}
                </ol>
                {% endif %}
                {% empty %}
                There is no facts.
                {% endfor %}
            </ul>
            -->
            <p><a href="{% url 'history' storage.id %}">История запросов</a></p>
            <p><a href="{% url 'initialize' storage.id %}" onclick="showProgress('Инициализация хранилища')">Инициализировать</a></p>
            <p><a href="{% url 'upload' storage.id %}">Загрузить данные</a></p>
            <p><a href="{% url 'delete' storage.id %}" onclick="showProgress('Удаление хранилища')">Удалить</a></p>
        </div>
    </div>

    <button class="js-button btn btn-default" onclick="showQuery()">Запрос</button>

    <div class="js-query" style="display: none; padding-top: 20px;">
        <form method="post" action="{% url 'query' storage.id %}">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">Условия</div>
                <div class="panel-body">
                    <div class="js-cond">
                        <!-- condition template -->
                    </div>
                </div>
            </div>
            <div class="btn btn-default" onclick="addCond()">Добавить условие выборки</div>
            <button type="submit" class="btn btn-default" onclick="showProgress('Выполнение запроса')">Отправить</button>
        </form>
    </div>

    <div class="js-condition-template" hidden>
        <div id="condition">
            <div class="row">
                <div class="col-xs-3"><label>Поле</label></div>
                <div class="col-xs-3"><label>Условие</label></div>
                <div class="col-xs-3"><label>Значение</label></div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <select name="fact" class="form-control">
                        {% for fact, dims in fks.items %}
                            <option>{{ fact.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-3">
                    <select name="cond" class="form-control">
                        <option>=</option>
                        <option>&gt;</option>
                        <option>&lt;</option>
                        <option>&gt;=</option>
                        <option>&lt;=</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input type="text" name="value" class="form-control">
                </div>
                <div class="col-xs-3">
                    <div class="btn btn-default" onclick="removeCond('#condition')">Удалить</div>
                </div>
            </div>
        </div>
    </div>

    <script>

        String.prototype.replaceAll = function(search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        };

        function showQuery() {
            $('.js-query').show();
        }

        var i = 1;
        function addCond() {
            $('.js-cond').append($('.js-condition-template').html().replaceAll('condition', 'condition' + i));
            i++;
        }

        function removeCond(id) {
            $(id).remove();
        }

        function showProgress(msg) {
            $('.js-button').hide();
            $('.js-query').hide();
            $('.js-structure').hide();
            $('.js-progress').show();
            $('.js-head').html(msg);
        }

    </script>

{% endblock %}
