{% extends 'storage/base.html' %}

{% block title %}История запросов хранилища {{ storage.name }}{% endblock %}

{% block content %}

    <h1>История запросов хранилища {{ storage.name }}</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                {% if history_list %}
                <tr>
                    <th>#</th>
                    <th>Дата запроса</th>
                    <th>Пользователь</th>
                    <th>Результат</th>
                    <th>Действие</th>
                </tr>
                {% endif %}
                {% for history in history_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ history.datetime }}</td>
                        <td>{{ history.user }}</td>
                        <td><a href="{{ history.result.url }}">Скачать</a></td>
                        <td><a href="{% url 'delete_history' history.id %}">Удалить</a></td>
                    </tr>
                {% empty %}
                    История запросов пуста
                {% endfor %}
            </table>

        </div>
    </div>

{% endblock %}
