{% load staticfiles %}
<!-- Artem Ustimov (c) 2016 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hadoop MapReduce Storage Client</title>
    <link rel="stylesheet" href="{% static 'storage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'storage/css/style.css' %}">
    <script src="{% static 'storage/js/lib/require.js' %}" data-main="{% static 'storage/js/main' %}"></script>
</head>
<body>
    <div id="content"></div>
</body>
</html>