{% extends 'storage/base.html' %}

{% block title %}Список хранилищ{% endblock %}

{% block content %}

    <h1>Список хранилищ</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                {% if storages %}
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Дата создания</th>
                    <th>Пользователь</th>
                    <th>Действие</th>
                </tr>
                {% endif %}
                {% for storage in storages %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ storage.name }}</td>
                        <td>{{ storage.datetime }}</td>
                        <td>{{ storage.user }}</td>
                        <td><a href="{% url 'detail' storage.id %}">Подробнее</a></td>
                    </tr>
                {% empty %}
                    Нет созданных хранилищ
                {% endfor %}
            </table>

        </div>
    </div>
    <a class="btn btn-default" href="{% url 'create' %}">Создать</a>

{% endblock %}
