{% extends 'storage/base.html' %}

{% block title %}Создание хранилища{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Вход</div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="id_username">Имя пользователя</label>
                    <input type="text" class="form-control" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" name="username" id="id_username" placeholder="Имя пользователя" required>
                </div>
                <div class="form-group">
                    <label for="id_password">Пароль</label>
                    <input type="password" class="form-control" name="password" id="id_password" placeholder="Пароль" required>
                </div>
                <button type="submit" class="btn btn-default">Отправить</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}