{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="{% static 'storage/css/bootstrap.min.css' %}">
    <script src="{% static 'storage/js/lib/jquery.js' %}"></script>
</head>
<body>
    <div class="col-md-8 col-md-offset-2 input-block">
        <div class="panel panel-default">
            <div class="panel-heading">Storage</div>
            <div class="panel-body">
                <form method="post" action="/save/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="storage-name">Name</label>
                        <input type="text" class="form-control" name="s" id="storage-name" placeholder="Storage name" required>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Facts</div>
                        <div class="panel-body">
                            <div class="js-fact">
                                <!-- fact-template -->
                            </div>
                            <button class="btn btn-default" onclick="addFact()">Add</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div id="fact-template" hidden>
        <div class="form-group" id="fact">
            <div class="row">
                <label class="col-xs-1">FK</label>
                <label class="col-xs-11">Fact name</label>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    <input type="checkbox" id="fact-checkbox" onchange="checkboxChanged('#fact')">
                </div>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="f" placeholder="Fact name" required>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-default" onclick="removeFact('#fact')">Remove</button>
                </div>
            </div>

            <div>
                <div class="panel panel-default" id="fact-dim" style="display: none;">
                    <div class="panel-heading">Dimensions</div>
                    <div class="panel-body">
                        <div class="js-dim-fact">
                            <!-- dim-template -->
                        </div>
                        <button class="btn btn-default" onclick="addDim('.js-dim-fact', 'fact')">Add</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="dim-template" hidden>
        <div class="form-group" id="dim">
            <div class="row">
                <label>Dimension value</label>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <input type="text" class="form-control" name="dim" placeholder="Dimension name" required>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-default" onclick="removeDim('#dim')">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        String.prototype.replaceAll = function(search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        };
        var i = 1;
        function addFact() {
            $('.js-fact').append($('#fact-template').html().replaceAll("fact", "fact" + i));
            i++;
        }

        function removeFact(id) {
            $(id).remove();
        }

        addFact();

        function checkboxChanged(id) {
            $(id + '-checkbox').click(function () {
                $(id + '-dim').toggle(this.checked);
            });
        }

        var j = 1;
        function addDim(klass, fact) {
            $(klass).append($('#dim-template').html().replaceAll("dim", fact + "-d"/* + j*/));
            j++;
        }

        function removeDim(id) {
            $(id).remove();
        }

    </script>
</body>
</html>