{% extends 'storage/base.html' %}

{% block title %}Список хранилищ{% endblock %}

{% block content %}

<h1>Список хранилищ</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>#</th>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% empty %}
                Нет данных.
            {% endfor %}
        </table>

    </div>
</div>
<a class="btn btn-default">Сохранить</a>

{% endblock %}
