{% extends 'storage/base.html' %}

{% block title %}Загрузка значений{% endblock %}

{% block content %}

<h1>Хранилище {{ fact.storage.name }}</h1>

<div class="js-progress panel panel-default" style="display: none;">
    <div class="js-head panel-heading"></div>
    <div class="panel-body">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
        </div>
    </div>
</div>

<div class="js-upload panel panel-default">
    <div class="panel-heading">Загрузка значений {{ fact.name }}</div>
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p>Текущие значения будут заменены значениями из файла.</p>
            <div class="form-group">
                <label for="id_file">Выберите текстовый файл со значениями:</label>
                <input type="file" id="id_file" name="file">
            </div>
            <button type="submit" class="btn btn-default" onclick="showProgress('Загрузка значений {{ fact.name }}')">Загрузить</button>
        </form>
    </div>
</div>

<script>
    function showProgress(msg) {
        $('.js-upload').hide();
        $('.js-progress').show();
        $('.js-head').html(msg);
    }
</script>

{% endblock %}